<div class="container">
  <div class="card border-0">
    <div class="card-title text-center my-3 p-3 bg-secondary-subtle text-uppercase fw-bold ">
      <h1>Contact Messages</h1>
    </div>
    <div class="card-body">
      <p class="text-start lead">Total Messages : <span class="fw-bold"> <%= @messages.count%> </span></p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Message</th>
              <th>Received At</th>
            </tr>
          </thead>
          <tbody>
            <% @messages.each do |message| %>
              <tr>
                <td><%= message.name %></td>
                <td><%= message.email %></td>
                <td><%= message.message %></td>
                <td><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>
